<%- include("partials/header.ejs") %>
    <div class="container">
        <h1 class="landing-page">This is the home landing page</h1>
        <a type="button" class="btn btn-outline-success" href="/movie">Movies</a>
        <!-- <br> -->
        <a type="button" class="btn btn-outline-success" href="/movie/new">Add Movie</a>
    </div>

    <%- include("partials/footer.ejs") %>